[2020-05-24 02:01] djKooks opened #2 "Update README"
- [x] Quickstart
- [ ] API table
- [ ] Installation guide
- [ ] Description

[2020-05-24 02:07] djKooks opened #3 "Managing parameter input"
Currently, it needs to generate json -> string for POST:
[code]

To make this simple:

1. Accept JSON modules(Gson, Jackson, ...) as input
2. Create custom input format(it will use JSON module internally to convert input into JSON format)

[2020-05-24 02:08] djKooks opened #4 "Make return output 'immutable'"

[2020-05-27 13:09] bidoubiwa opened #5 "Create and fill sample file to display Java examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-05-27 13:29] #5 closed

[2020-07-09 11:26] djKooks opened #7 "Setup custom exceptions"
Setup custom exceptions

[2020-07-12 11:42] djKooks opened #9 "Make compatible for Java >= 8"
Concern of supporting Java version 8 or more
- For using various features in Java 8 (stream, optional...)

[2020-09-12 23:24] AmiralBl3ndic opened #12 "Lacking genericity"
The wrapper lacks genericity a lot: for the moment each data it returns is a string and must be parsed by the program using the wrapper.
We should implement generic methods allowing to retrieve dynamically mapped types rather than simply strings.

[2020-09-12 23:24] AmiralBl3ndic commented on #12
I have started working on some of these methods, this will be the object of ny next PR

[2020-09-21 13:33] eskombro commented on #2
I think the installation guide is a big priority, @djKooks, would you be up for making a quick guide on it? :)

[2020-09-21 13:34] eskombro opened #13 "Add a CONTRIBUTING.md"
Create a nice welcoming file for new contributors, specifying every detail, and especially the developer workflow, and how to test, lint and release (whenever we have tests and linters etc...).

It can be inspired in our SDKs CONTRIBUTING.md files, such as [this](https://github.com/meilisearch/meilisearch-js/blob/master/CONTRIBUTING.md) or [this](https://github.com/meilisearch/meilisearch-php/blob

[2020-09-21 13:58] eskombro opened #14 "Fix integration tests and add CI"
Make a basic set of tests for the main classes and methods, and run a GitHub action on PR to have a CI workflow

[2020-09-21 14:03] eskombro opened #15 "Test placeholder search"
Placeholder search lets the user send a null `query` parameter in order to apply all the ranking rules to the documents in the index without matching them with a specific query, and return the results to the user. It is different to sending an empty string as a query, in which case you won't receive any results. This behavior should be explicitly tested in the SDK.

More info about Placeholder sea

[2020-09-21 14:14] eskombro commented on #7
[This discussion](https://github.com/meilisearch/integration-guides/issues/19) will be very useful to give Java SDK's custom exceptions some coherence with other SDKs error handlers for MeiliSearch, which would be ideal (but of course not mandatory if there are some Java specifics that go against it)!

[2020-09-21 14:37] eskombro opened #17 "Update README structure and layout"
All of our SDK's follow a main layout/structure. Of course, this one won't be an exception  🎉

[2020-09-21 14:53] eskombro opened #18 "Add a LICENSE"
Include a copy if the MIT License in the root of the repo

[2020-09-21 14:57] #17 closed

[2020-09-21 14:57] #18 closed

[2020-09-21 15:37] eskombro opened #19 "Choose a linter and integrate it to CI and docs"
- [ ] Choose a well maintained and known Linter for Java
- [ ] Run the linter for the whole SDK code and make a Pull Request
- [ ] Add a task in the CI [GitHub Actions] that runs automatically the linter (Lint will be required for any merge/contribution afterwards)

Do not hesitate to contact us if you have any doubts or questions!

[2020-09-21 15:40] eskombro opened #20 "Create and fill sample file to display Java examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-09-22 09:11] eskombro commented on #15
This behavior is going to change soon, as described in [this PR](https://github.com/meilisearch/MeiliSearch/pull/916). An empty query will be handled as a Placeholder search, so sending an empty string or null as a query will result in getting placeholder results

[2020-09-22 14:21] eskombro opened #21 "Modify addDocument -> addDocuments method (to support multiple documents)"
To add documents to MeiliSearch the API requires a JSON object composed of an array of documents, either if you are sending one or multiple documents in the same request. In this case we need a method called `addDocuments` taking a list of documents as a parameter. This method can handle a single document in the exact same way. It would probably be better to replace the `addDocument` method

[2020-09-22 14:26] eskombro opened #22 "Add GetOrCreateIndex method"
Gets the index instance or creates a new one if it does not exist

- [ ] Implement `getOrCreate` method
- [ ] Add tests

Follows [this discussion](https://github.com/meilisearch/integration-guides/issues/2)

[2020-09-24 11:02] eskombro opened #23 "Add WaitForPendingUpdate method"
Following [this discussion](https://github.com/meilisearch/integration-guides/issues/1), the `waitForPendingUpdate()` method should wait until the [asynchronous update](https://docs.meilisearch.com/guides/advanced_guides/asynchronous_updates.html#asynchronous-updates) was processed by MeiliSearch. This should have a customizable timeout and interval.

- [x] Implement the method
- [x] Add tests

[2020-09-28 13:34] eskombro opened #25 "Rename Class MeiliSearchIndex -> Index"
Rename Class MeiliSearchIndex to Index

It will be accessed from external projects as `meilisearch.Index`

[2020-09-28 19:51] eskombro commented on #25
Fixed by https://github.com/meilisearch/meilisearch-java/commit/55b579cfb22a38bcbb8feaf17c2ae44fe2391601

[2020-09-28 19:51] #25 closed

[2020-09-28 19:53] eskombro opened #26 "Rename addDocument method to addDocuments"
The HTTP API for indexing documents takes always a JSON array of documents as a parameter, either if you want to index a single document or a batch. In which case we should probably expose just a single method for both, and rename it in its plural way as `addDocuments(...)` :)

[2020-09-28 20:12] eskombro opened #28 "Add errors to updateStatus Class"
An update status contains, in case of failure, relevant information about the error (message, code and a link to the description of the error in the docs) that should be added to the UpdateStatus for further usage in this SDK and for users!

Example of a failed update:

[code]

[2020-09-28 20:13] #26 closed

[2020-09-28 20:21] eskombro commented on #21
Duplicate of #26

[2020-09-28 20:22] #21 closed

[2020-09-28 20:22] eskombro commented on #7
Needs #29

[2020-09-29 07:40] #28 closed

[2020-09-30 14:04] eskombro commented on #7
#29 is merged, This issue can be done now! 🎉

[2020-09-30 14:15] AmiralBl3ndic commented on #19
I started looking for a linter and [`error-prone`](https://errorprone.info/index) seems to be a good solution.
There is no official gradle plugin for it though, we will have to rely upon [the community-developed plugin](https://github.com/tbroyer/gradle-errorprone-plugin)

[2020-10-01 15:06] eskombro commented on #19
It seems interesting. A pity that it doesn't have a code formatting tool. The plugin seems good.

What do you think if we use https://github.com/google/google-java-format?

[2020-10-07 10:16] niemannd opened #33 "Add hacktoberfest topic"
Following the [new guidelines for Hacktoberfest](https://hacktoberfest.digitalocean.com/hacktoberfest-update), we should add the hacktoberfest topic to the repository.

[2020-10-07 11:52] eskombro commented on #33
It's done! 🚀

[2020-10-07 11:52] #33 closed

[2020-10-08 18:42] #14 closed

[2020-10-08 18:42] #23 closed

[2020-10-14 13:26] eskombro opened #35 "Implement dumps (add tests and code samples)"
Since [v0.15.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.15.0), MeiliSearch exposes a new functionality: [dumps](https://docs.meilisearch.com/references/dump.html#dumps)

This feature should be implemented in this SDK following [this specificacions](https://github.com/meilisearch/integration-guides/issues/44)

- [ ] Implement dump creation route
- [ ] Implement get dump status ro

[2020-10-15 08:54] eskombro opened #38 "CreateIndex should return an Index instance"
In the current implementation, `getIndex()` returns an `Index` instance, but `createIndex()` returns the response of the POST request for creating an index. This forces a usage that looks like this:

[code]

In case `createIndex` succeeds, it should return an Index instance which simplifies the usage to

[code]

In case of error, this will be handled by https://github.com/meilisearch/meilisearch-j

[2020-10-15 09:27] #38 closed

[2020-10-21 12:23] eskombro opened #42 "Implement a method to delete a batch of documents"
The implementation for [this route](https://docs.meilisearch.com/references/documents.html#delete-documents) letting the user delete a batch of documents by providing a list of document ids is missing from the SDK.

Method names should be explicit, for making the difference obvious, like `deleteAllDocuments()` and `deleteDocuments([...])` (these are the method names used in other MeiliSearch SDKs)

[2020-10-21 18:28] curquiza commented on #42
I would not say the renaming is optional as it could lead to total removal if someone use deleteDocuments() without any parameter. This behavior is not obvious for everyone from my POV, especially if the users think using the batch-delete method 🙂

[2020-10-21 18:47] eskombro commented on #42
@curquiza Updated, thanks !

[2020-10-21 20:31] cardinalion commented on #42
Do you mean change deleteList to deleteDocuments and change deleteDocuments to deleteAllDocuments?

[2020-10-21 22:05] eskombro commented on #42
Hey @cardinalion !

`deleteList()` doesn't exist anymore!
Change `deleteDocuments()` to `deleteAllDocuments()`
And implement `deleteDocuments[...])`

[2020-10-21 22:10] cardinalion commented on #42
@eskombro Sorry, I'm pretty new to this project. (Randomly came here) I'm asking because I'm not sure about the input parameters. Are you trying to pass an array of uids or identifiers?

[2020-10-22 00:59] eskombro commented on #42
No problem @cardinalion , just thought for some reason that you migth have seen the `deleteList` method that was in the code before!

Indeed, MeiliSearch is expecting to receive a list of Ids (the data type must correspond to the primaryKey data type (it can be an array of ints or an array of strings)

[2020-10-23 05:07] arjunrc143 commented on #22
@eskombro Can I give a try on this?

[2020-10-23 05:14] widlok commented on #42
Hi @eskombro , i submited PR for this issue - #44. First thing on master branch it seems like tests do not compile after last merge, i fixed the errors in the PR so code compiles.

Is it possible to run tests locally? I'm running into issue during **Java CI with Gradle / build (pull_request)** with an error

     java.lang.IllegalStateException at DocumentsTest.java:218

I would like to debug it l

[2020-10-26 17:33] eskombro commented on #22
Hello @arjunrc143

I am very sorry for my late answer!
Indeed, it would be great!

[2020-10-26 17:39] eskombro commented on #42
Hi @widlok !

The CI test for integration are tagged as `"integration"` so they aren't run by normal check, but you can run them easily with this tag.

Try `gradle cleanTest integrationTest`

[2020-10-27 07:42] arjunrc143 commented on #22
Does the master contains breaking changes?

[2020-10-27 09:00] arjunrc143 commented on #22
https://github.com/meilisearch/meilisearch-java/pull/45

I have added a PR. Please check. I havent updated the integration tests, but I would like to. Can you please help me in setting up environment for integration tests. @eskombro

[2020-10-27 13:24] eskombro commented on #22
This SDK is still in WIP, so breaking changes are more than common. When we do the release, it will follow the semver system to announce braking changes! But for now, there is no point in trying to be stable :)

[2020-10-27 13:26] eskombro commented on #22
Are you in [our Slack](https://slack.meilisearch.com/)? Do not hesitate to contact me there (I'm Samuel) and I will be happy to help you!

We will add some guides soon to this repo, but it is still a bit early to add guides, as everything changes all the time

[2020-10-27 13:48] eskombro commented on #7
I will start working on this issue since it seems very important to have custom exceptions as soon as possible !

[2020-11-04 00:14] #7 closed

[2020-11-05 16:03] #22 closed

[2020-11-25 11:17] eskombro commented on #42
This has been done by @widlok in #44

Closing!
Thanks :)

[2020-11-25 11:17] #42 closed

[2020-11-25 11:20] eskombro opened #54 "Migrate search from GET to POST"
Serach should use the POST `/indexes/:uid/search` route instead of GET `/indexes/:uid/search`

See https://github.com/meilisearch/integration-guides/issues/37

This issue is ready to be implemented, if you need any precision or help, do not hesitate to contact me! :)

[2020-11-25 11:30] #13 closed

[2020-11-25 14:14] curquiza commented on #2
Closed by #53

[2020-11-25 14:14] #2 closed

[2020-11-25 14:15] curquiza commented on #3
Close by #36

[2020-11-25 14:15] #3 closed

[2020-11-25 14:15] curquiza commented on #4
Closed because of no description.

[2020-11-25 14:15] #4 closed

[2020-11-25 14:20] curquiza commented on #15
Placeholder works 👍
But tests are still missing.

[2020-11-26 11:23] curquiza opened #61 "Update jakarta.json.bind-api from 1.0.2 to 2.0.0"
With our current code base, this upgrade would break the tests: https://github.com/meilisearch/meilisearch-java/pull/57/checks?check_run_id=1458442839

See the PR opened by dependabot: https://github.com/meilisearch/meilisearch-java/pull/57

We should make meilisearch-java works with the latest version of each dependency 👍

[2020-11-26 12:25] curquiza opened #62 "Update yasson from 1.0.8 to 2.0.1"
With our current code base, this upgrade would break the tests: https://github.com/meilisearch/meilisearch-java/actions/runs/385051667

See the PR opened by dependabot: https://github.com/meilisearch/meilisearch-java/pull/59

We should make meilisearch-java works with the latest version of each dependency 👍

[2020-11-30 13:00] curquiza opened #67 "A better way to add documents in the Getting Started example?"
Currently, here is the way to add documents we show in the first Getting Started example:

[code]

We would like to use, if it exists, a more friendly way to add documents that we can introduce into our Getting Started, instead of escaping double-quotes.

Maybe we could be inspired by the Stripe Java client and the `HashMap` solution, but it might also involve lots of lines, and this solution migh

[2020-11-30 15:13] mayralgr commented on #54
Hi @eskombro can I work on this? Is there any other information I need?
Thank you!

[2020-11-30 19:25] eskombro commented on #54
Hello @mayralgr

Of course, thank you very much! All the information is detailed in the issue linked in the description ([this one](https://github.com/meilisearch/integration-guides/issues/37)), and you can use other SDK's as an inspiration source, because this has been implemented in all of them!

And of course, if you have any doubts or need any help/support, you can come here and we'll try to h

[2020-12-01 07:54] eskombro opened #68 "Generic class for search results"
In the current state of the Java SDK, the return value of the search method is a String, which needs to be deserialized by the user after performing a search.

This SDK should provide a generic class capable of deserializing MeiliSearch results. Search method should return an instance of this object, with MeiliSearch's results already deserialized.

[2020-12-01 07:57] eskombro commented on #12
This has already been achieved by several PRs. From my POV the only important missing part of this should be aolved by #68
I'm therefore closingthis issue. Feel free to reopen it or to comment on it if that is not the case!

[2020-12-01 07:57] #12 closed

[2020-12-02 15:12] eskombro opened #71 "Improve SDK automated documentation [javadoc]"
`meilisearch-java` uses [`javadoc`](https://www.oracle.com/technical-resources/articles/java/javadoc-tool.html) as a documentation generator, which is based on comments on the code. There are several classes, methods, and attributes that are very useful for developers who use our SDK that have no comment, and therefore no automated documentation.

Several warnings are shown when your build include

[2020-12-02 15:18] eskombro opened #72 "Remove warnings from Json Handling classes"
`JacksonJsonHandlerTest.java` and `GsonJsonHandlerTest.java` generate varargs warnings

<img width="763" alt="Screenshot 2020-12-02 at 15 34 56" src="https://user-images.githubusercontent.com/10339833/100891405-83d06980-34b9-11eb-9f9c-3f01892bbb32.png">

[2020-12-02 17:57] mayralgr commented on #54
HI @eskombro I have made some changes, nevertheless I am not sure is all it should be done. Also, I believe I have to write some tests? Could you clarify this for me, please 😄

[2020-12-03 17:15] #54 closed

[2020-12-03 22:08] eskombro opened #76 "Implement changes due to implicit index creation"
Related to meilisearch/integration-guides#48

- Change the Getting Started as described in the main issue.
- `get_index()` does an HTTP call and is not the main method to use anymore.
- Add the `index()` method
- Add tests for `index()` method
- Update get_or_create_index with the new way of using index()
- Add a `fetchPrimaryKey()` method to `Index` class. The attribute `primaryKey` is not update

[2020-12-03 23:11] JacobSherrod commented on #71
do you have any main focal points regarding documentation for this project?

[2020-12-03 23:16] eskombro commented on #71
Hey @JacobSherrod

Not really. We focus on our [official docs](https://docs.meilisearch.com/) for now and haven't actually created a real strategy of in-code documentation. As the SDk was done by adding up many contributions, there is no regularity, some things are very well documented and some, well, not at all.

I would say that the most important is to add the appropriate comments to the main c

[2020-12-03 23:18] eskombro commented on #71
I updated the description

[2020-12-03 23:19] JacobSherrod commented on #71
Cool. I can take a look at those and see what all I can contribute. Thank you

[2020-12-08 13:30] curquiza opened #78 "The addDocuments and updateDocuments methods should take a primary key as optional parameter"
The `addDocument` and `updateDocuments` methods do not take any primary key as parameter, but they should.
Related docs:
- https://docs.meilisearch.com/references/documents.html#add-or-replace-documents
- https://docs.meilisearch.com/references/documents.html#add-or-update-documents

⚠️ The primary key parameter should be optional!

- [ ] add in the code base
- [ ] add tests

[2020-12-08 13:30] curquiza opened #79 "Implement the method update documents routes"
There is no method to update documents in this package.
Here are the docs about `PUT /indexes/:uid/documents`: https://docs.meilisearch.com/references/documents.html#add-or-update-documents

- [ ] Add it in the code. You can be inspired by [`addDocuments` method](https://github.com/meilisearch/meilisearch-java/blob/b35a9bd3b633f334590a713a4d26fc9c4a9d0f7c/src/main/java/com/meilisearch/sdk/Index.ja

[2020-12-08 13:41] curquiza opened #80 "updateIndex method should return an Index instance"
To be consistent with `createIndex` and `getIndex`, the method `updateIndex` should return an `Index` instance. This method should update the `primaryKey` attribute of the `Index` instance with the information returned by MeiliSearch.

- [ ] Update the code base
- [ ] Add tests

EDIT: this PR (https://github.com/meilisearch/meilisearch-java/pull/74) should have been merged before.

[2020-12-08 17:41] JohanDelValleV commented on #79
Hello I'm interested in contributing and working on this issue

[2020-12-08 18:13] curquiza commented on #79
Hello @JohanDelValleV!

Thanks a lot! I assign you!😁

[2020-12-09 20:57] luis-valdez commented on #80
Hello @curquiza, I would like to start working in this issue.
Is there more information that I need?

[2020-12-09 21:30] curquiza commented on #80
Hello @luis-valdez!
Thank you very much! However, I would rather this PR (https://github.com/meilisearch/meilisearch-java/pull/74) be merged before you start this issue. That's my fault, I updated the description to be clearer.

I don't know what kind of information I can add, but if you need any, don't hesitate to ask 😄

[2020-12-09 21:38] luis-valdez commented on #80
Oh I see! I'm looking for a `Good first issue` to work on.
So in the mean time, I'll  pick up another one. Thank you :D!

[2020-12-10 14:05] #79 closed

[2020-12-10 15:34] #76 closed

[2020-12-10 16:09] eskombro commented on #80
Hi @luis-valdez

It would be totally ok to start this issue now. All the previous PR and changes have been merged into master> So if you still want to work on this, it would be great! :)

[2020-12-10 18:23] luis-valdez commented on #80
Awesome, if I have any questions I'll let you know :)

[2020-12-10 19:58] JohanDelValleV commented on #78
Hey, It's me again, can I take this issue? @curquiza

[2020-12-10 21:05] luis-valdez commented on #80
Hello, this is how I modified the method `updateIndex`:
[code]
Regarding the tests it's already passing the integration tests including `testUpdateIndexPrimaryKey()`.

Looking at `createIndex` I figured out it should include a test like: `testUpdateIndexPrimaryKeyIfIndexDoesNotExists()`.
Is that correct? What other tests should be convenient to include?

[2020-12-10 23:28] curquiza commented on #78
Hello again! 😄
Of course you can! I assign you!

[2020-12-10 23:42] curquiza commented on #78
Also, can you add the same to `updateDocuments`? So sorry for this addition.
I've updated the issue description and title.

[2020-12-14 12:22] eskombro commented on #80
Hi @luis-valdez

1. The test you are suggesting seems to be a nice addition!
    `testUpdateIndexPrimaryKeyIfIndexDoesNotExists`
2. Your updated version of `updateIndex` looks good to me

If the test is also modified in a way where we can be sure that this method is effectively returning an Index instance, this seems to be enough for me :)

[2020-12-14 18:24] curquiza commented on #80
Sorry I don't know perfectly this package, so I don't know if the `setConfig` does what I'm going to ask:
don't forget to update the `primaryKey` attribute of the `Index` object before returning it.

[2020-12-14 19:07] luis-valdez commented on #80
Yes I totally agree.

For assuring that we're returning an Index instance I was thinking in this implementation:
[code]

[2020-12-14 19:08] JohanDelValleV commented on #78
Ok, no problem. Can you explain to me more about how to pass that param or how to overwrite the primaryKey?

[2020-12-14 19:12] luis-valdez commented on #80
I think that the `setConfig` does not update the primary key, but when I create the new instance of `Index`:
[code]
I call the method `updatePrimaryKey` in the `IndexesHandler` class, that subsequently calls:
[code]
which I believe updates de `primaryKey`

[2020-12-14 20:40] luis-valdez commented on #72
I'll start working in this issue if nobody is currently working on it :).

[2020-12-14 20:41] eskombro commented on #72
Nobody is on it, so really appreciated! 👍🏽

[2020-12-15 09:26] #71 closed

[2020-12-15 09:48] curquiza commented on #78
This is useful to pass the primary key as a query parameter the first time you [add](https://docs.meilisearch.com/references/documents.html#add-or-replace-documents) or [update](https://docs.meilisearch.com/references/documents.html#add-or-update-documents) documents if the primary key has not been inferred or set before.

If you want to pass the primary key, just pass it as a query parameter:
[co

[2020-12-15 11:33] curquiza commented on #80
Hello @luis-valdez!

I checked directly with @eskombro! `createIndex` and `getIndex` do update the `primaryKey` attribute! So everything is ok for these methods, sorry for the confusion!

About the test you suggest, it's perfect!

Thanks again for your work!!!

[2020-12-15 12:02] #80 closed

[2020-12-15 17:56] JohanDelValleV commented on #78
Got it. But, I just testing and every time I made your example, it needs to match the `query parameter` with the `id name` something like your example, but if I do this:

[code]
**Notice that the query parameter is different from the data.**
The document won't be created. So, if you have an idea of how to start this issue, let me know.

[2020-12-15 17:58] luis-valdez commented on #15
Hello again guys!
Is this issue still relevant and available? If so I would like to work on it :).

[2020-12-15 19:16] #72 closed

[2020-12-15 19:48] eskombro commented on #15
Absolutely @luis-valdez !

Only adding tests is needed!

[2020-12-16 09:22] curquiza commented on #78
In your example, because the primary key is `id`, the document is not created because MeiliSearch does not find any `id` field in the document. For MeiliSearch, there is no primary key and it cannot add a document without it.
When getting the update status with [this method](https://docs.meilisearch.com/references/updates.html#get-all-update-status), can you confirm the error you can see?
More abo

[2020-12-16 09:44] curquiza commented on #15
Oh, I just realize the issue description is outdated!!
Unlike the description says:
A placeholder can be used with:
- `q=null`
- `q=""` (an empty string)
=> **whatever the choice, the result will be the same**

Tests with both should be added.

@eskombro can you update the issue description please?

And thanks @luis-valdez for your huge involvement 💪

[2020-12-16 15:23] eskombro commented on #15
@curquiza @luis-valdez  description updated

[2020-12-16 18:55] luis-valdez commented on #15
Awesome. Thank you guys for letting me contribute :D!

[2020-12-17 00:34] luis-valdez commented on #35
Hello @eskombro @curquiza
If nobody is currently in this issue, I'd love to take it!

[2020-12-17 10:43] eskombro commented on #35
Absolutely @luis-valdez, you're on fire 🔥
Thank you so much! 👍🏽

Just as a little disclaimer, soon there will be some holidays season for some of us, so if reviews or questions are not done/answered as fast as usual, it's because of this :)

[2020-12-17 10:46] eskombro commented on #15
Oh, we are more than happy to have your help! Thanks a lot for everything you are doing 🎉

[2020-12-17 19:22] luis-valdez commented on #35
I understand @eskombro, enjoy your holidays 🎉

[2020-12-18 19:33] OmarMorales71 commented on #78
@curquiza Hello can I work on this issue? I'm investigating how these methods work.

[2020-12-19 06:17] ajay-a1 opened #90 "update settings through SDK"
Is there any way to update setting through Java SDK?

Like for the curl request below:
$ curl \
  -X POST 'http://localhost:7700/indexes/movies/settings' \
  --data '{
      "displayedAttributes": [
          "title",
          "description",
          "poster",
          "release_date",
          "rank"
      ]
  }'

[2020-12-21 09:24] curquiza commented on #90
Hello @ajay-a1! Thanks for your feedback, I really thought this kind of priority method was already implemented in this package, but I don't find any, my bad. I open a more detailed issue to add this.

[2020-12-21 09:35] curquiza opened #93 "Implement settings methods"
There are 3 main methods that are missing in this package. If I'm wrong, feel free to close this issue, but I don't find anything when I search for `settings` in this repository.

- `getSettings` that corresponds to this route: https://docs.meilisearch.com/references/settings.html#get-settings
- `updateSettings` that corresponds to this route: https://docs.meilisearch.com/references/settings.html#

[2020-12-21 09:35] curquiza commented on #90
Closing this issue in favor of #93

[2020-12-21 09:35] #90 closed

[2020-12-21 09:56] curquiza commented on #78
Hello @OmarMorales71! Thanks for your involvement!
@JohanDelValleV seemed to want to do this issue: https://github.com/meilisearch/meilisearch-java/issues/78#issuecomment-742761443 . Maybe should you ask him before starting it!

However, if you want to do an issue, I've just opened this one #93 which is really important and useful for this repo 😄

[2020-12-28 19:30] #61 closed

[2020-12-28 19:41] #15 closed

[2020-12-29 20:18] #35 closed

[2021-01-04 09:02] #93 closed

[2021-01-04 14:31] djKooks commented on #9
@eskombro hello~
How do you think of current topic?

By making compatible for Java 8 and over, we can support `stream` and `optional` and make sdk more fit to new Java module. But it will make complicate for supporting Java 7 and less.

If you want to keep current API design, it will be better to ignore this topic. If than, please close this issue 🙏

[2021-01-05 02:25] djKooks commented on #68
@eskombro I think I could work on it.

For case which returning value does not have fixed form, how do you think of returning value as `Map` object?

[2021-01-05 10:38] curquiza commented on #9
Hello @djKooks!
Does this change something for the users? What would be the "Getting Started" and "Installation" sections for a user with Java 8 and Java 7 after this implementation?
When adding features we want to ensure it does not bring any complexity for the users who want to use this SDK in a simple way 🙂

[2021-01-05 17:22] eskombro commented on #9
This is a veru interesting question and I think I would really appreciate to have different points of view on this matter on how this can affect users and what this could improve in the SDK, as @curquiza points out!

Any insights on this @djKooks , @niemannd , @luis-valdez , @AmiralBl3ndic ? :)

[2021-01-05 17:29] curquiza opened #98 "Document the customizations"
If I understand well, this library provides default usage but also provides abstractions to choose and customize:
- the JSON library
- the Client
- the HTTP requests

It would be nice to add a section in the README to show with simple lines of code how to customize all of these points 🙂

[2021-01-05 18:51] eskombro commented on #68
Amazing @djKooks !

Are you talking about the "hits" field? if that's the case, I think a Map or a HashMap Are indeed the best options :)

[2021-01-06 00:59] djKooks commented on #9
@curquiza @eskombro thanks for comments~

=> It means that we can use features in Java 8 (`Optional`, `CompletableFuture`...) to make elegant async logic. But it will block user who is still using Java 7 or less. In this case, we should write `Requirements` as `Java 1.8 or later`(you can see in Stripe Java SDK, or AWS Java SDK 2.x).

I'm suggesting this because
- SDK is in early stage, so will not

[2021-01-06 16:56] fharper opened #99 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a blog post that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #101 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-12 13:37] eskombro opened #105 "Implement ServiceTemplates on SDK"
#92 Introduces the `ServiceTemplate`, which makes the API implementation independent from the HTTP Client and JSON handler. This level of abstraction is not yet used by the SDK and will probably introduce breaking changes.

Document this implementation

[2021-01-14 16:53] AmiralBl3ndic commented on #9
I agree with @djKooks on making the SDK Java 8 compliant: as he said Java 7 will soon reach the end of its official support and with MeiliSearch growing in popularity, limiting the capabilities of the SDK to old versions of Java might not be the greatest thing to do.

As a matter of fact, I saw several Java 7 projects using `guava`'s implementation of `Optional` as a replacement for the lack of bu

[2021-01-16 14:43] djKooks commented on #68
@eskombro I've create PR for this. It only includes very raw commits, just want to share whether it is the one you're intending. Please check 🙏

[2021-01-18 22:49] #101 closed

[2021-01-19 17:41] curquiza commented on #9
After consulting most of you, it seems to be a good option to drop the Java 7 support 😁

@djKooks what do we need to do next? Maybe should we add a small note on the README?

[2021-01-19 23:57] djKooks commented on #9
@curquiza thanks for notice~
I'll make a draft first, and will let you know 🙏

[2021-01-23 09:54] AmiralBl3ndic commented on #19
@eskombro I heard some friends talking about using [`prettier-java`](https://github.com/jhipster/prettier-java) for code formatting. I haven't personally tried it, but it seems like a good option to achieve code formatting in Java. Just be advised they also told me that it requires a bit configuration and this relies on each user having a node environment setup to use with `npm` or `yarn`.

[2021-03-01 16:47] eskombro opened #128 "Add documentation on Search"
Inspired on our [PHP SDK's search wiki](https://github.com/meilisearch/meilisearch-php/wiki/Search), this document can specify features about search as the different methods exposed to the user (`search()` and `rawSearch()`, different constructors for this methods etc...

The repo's README can have a link to this WIKI in the `Custom Search` section as in this [PHP README example](https://github.co

[2021-03-01 18:42] curquiza opened #129 "Automatize the package publishment"
Currently, the push of this package is done manually and all the steps are described in [this section](https://github.com/meilisearch/meilisearch-java/blob/main/CONTRIBUTING.md#how-to-publish-the-release-) of the CONTRIBUTING.md
We want to make it automatized for each release publishment.

Plus this should be taken into account -> https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and

[2021-03-01 21:46] eskombro opened #130 "Add optional prameters to GEtDocuments method (offset, attributesToRetrieve)"
The MeiliSearch documentation describes the way to get a list of documents using 3 optional parameters: `limit`, `offset`, and/or `attributesToRetrieve`. The current implementation of the SDK only enables the user to profit from the `limit` parameter. `offset` and `attributesToRetrieve` should be supported.

[2021-03-04 09:30] chboing opened #131 "[Enconding UTF-8 BasicHttpRequest] Am I missing something with encoding ?"
Hello,
I'm facing an issue here, i have meilisearch running in a docker container (last image)
I use meilisearch-java 0.2.0.

I have a doc.json encoded in UTF-8 that contains © and … "spécial" characters.
`[{"id":1,"content":"© hop"},{"id":2,"content":"… hop"}]`

The following command line is working perfectly as expected.
[code]

The following line using meilisearch-java is returning an error:
`i

[2021-03-04 13:56] chboing commented on #131
my problem seems fixed with
`return content.getBytes(StandardCharsets.UTF_8);`
instead of
`return content.getBytes(StandardCharsets.UTF_8);`
in BasicHttpRequest.java...

Pretty sure it's not a good fix .. but that's where is the pb.

[2021-03-07 13:54] djKooks commented on #9
Oh, seems version has been already defined in gradle file.
https://github.com/meilisearch/meilisearch-java/blob/main/build.gradle#L21-L24

@curquiza @eskombro @AmiralBl3ndic I think it will be okay to close this.

[2021-03-08 17:02] #68 closed

[2021-03-08 19:35] curquiza commented on #9
Closing then!! 🎉

[2021-03-08 19:35] #9 closed

[2021-03-11 17:15] #131 closed

[2021-03-15 11:06] #105 closed

[2021-03-18 00:16] #129 closed

[2021-03-18 12:45] nicolasvienot opened #140 "Add a check-release script"
Currently, there is no check that the version of the package that will be published match the release tag.
We want to implement the check when the publish workflow is triggered (`ossrh-publish.yml`)

⚠️ Should be done by a MeiliSearch team member.

[2021-03-18 12:49] curquiza commented on #140
On my TODO 🚀

[2021-03-18 13:03] nicolasvienot opened #141 "Change the trigger in the publish workflow"
Currently, the trigger for the publish workflow is based on the name of the tag on push.
We want to trigger the workflow on release, irrespective of the tag.

⚠️ Should be done by a MeiliSearch team member.

[2021-03-18 18:18] curquiza commented on #141
Should apply to all integration repositories then

[2021-03-18 18:42] nicolasvienot commented on #141
You're totally right. I talked with @eskombro about it and we agreed that we would not do it for now.

The main reason is that the `on release` trigger is not that obvious and will not trigger if the release is automatically done by a github action for example. That's not the case now, but might be something that the integration team wants to take in consideration before applying to all repositori

[2021-03-18 18:42] #141 closed

[2021-03-22 14:45] nicolasvienot opened #145 "Create Javadoc and Sources"
Due to the changes made to the `build.gradle` (updating to maven-publish), the build and publish tasks don't create the javadoc and sources anymore.

This is needed by the Central Repository to publish a package.

[2021-03-22 18:04] #145 closed

[2021-03-22 18:06] #140 closed

[2021-03-24 12:48] curquiza opened #150 "Warnings when running tests"
I run:

[code]
and I got warnings

<img width="1506" alt="Capture d’écran 2021-03-24 à 13 47 05" src="https://user-images.githubusercontent.com/20380692/112312846-898bce00-8ca7-11eb-8c59-97def6c517d5.png">

[2021-03-25 07:15] niemannd commented on #150
This is intentional.

decode uses a variable argumentlist to get all parameters for generic types.
See https://github.com/meilisearch/meilisearch-java/blob/5fa0dd5f2ff1e5d95db95d72d27c3ea22efb584b/src/main/java/com/meilisearch/sdk/json/JsonHandler.java#L21
To force the "parameters" parameter to be null, you have to supply null.
Any other type would result in "parameters" being an array with the su

[2021-03-28 09:05] #62 closed

[2021-04-06 17:00] curquiza commented on #150
Hello @niemannd! Thanks for your answer!
Isn't it possible to add a cast like for this test -> https://github.com/meilisearch/meilisearch-java/blob/da800ea8d3abc370f0ad796989965ab521ffa7ea/src/test/java/com/meilisearch/sdk/json/JacksonJsonHandlerTest.java#L33? So that it removes the warning. See #155 and maybe I'm doing something wrong

[2021-05-05 14:04] #150 closed

[2021-05-06 10:37] eskombro commented on #19
Sorry for the late answer @AmiralBl3ndic, and thanks for the suggestion!

I changed team at MeiliSearch, and probably @alallema will be addressing this topic and issue when she gets some time :)

Thanks for all your help, again 🎉

[2021-07-07 11:47] alallema opened #184 "Add facetsDistribution in SearchRequest"
**Description**
Add `facetsDistribution` as query parameter in `SearchRequest`.

**Basic example**
[code]
[code]

[2021-07-12 13:40] #184 closed

[2021-07-13 13:53] ppshobi opened #188 "Why we have 2 http client dependency?"
Hi, I am super new to java, So I am wondering why we have 2 http client dependencies?

https://github.com/meilisearch/meilisearch-java/blob/2713a446c3198b2aab22bf3f9df64b1769197ec7/build.gradle#L41-L43

[2021-07-13 14:21] alallema commented on #188
Hi @ppshobi,
It comes from this [PR](https://github.com/meilisearch/meilisearch-java/pull/34).
I'm not sure of the why, I think the goal was to allow the user to create a custom HTTP client.
Maybe @eskombro could answer better.

[2021-07-13 15:06] ppshobi commented on #188
I think I got why multiple dependencies are listed, but whenever I try to build the project I am getting errors like following

or

is there a command where I can Install all the dependencies?

[2021-07-13 15:21] alallema commented on #188
Normally `./gradlew build` should install all the dependencies.
But you can try:
[code]

[2021-07-13 16:24] ppshobi commented on #188
@alallema Thanks closing this issue

[2021-07-13 16:24] #188 closed

[2021-07-14 21:36] ppshobi commented on #19
We could close this issue as #187 is merged, and we are using spotless, which is a no dependency linter. Also a CI step has been added

[2021-07-15 10:39] #19 closed

[2021-07-17 13:06] HorizonCode opened #189 "Json deserialize error: unknown field `filters`"
**Description**
in the RC version of MeiliSearch it seems like they changed the json field "filters" to "filter".

**Current behavior**
[code]

**Environment**
- OS: Linux Ubuntu
- MeiliSearch version: e.g. v.0.21.0
- meilisearch-java version: v0.3.1

[2021-07-17 13:06] HorizonCode commented on #189
oh i just saw there is already a pull request about this

[2021-07-17 13:06] #189 closed

[2021-08-23 14:59] alallema opened #197 "Make filter work also with the array syntax"
**Description**
In v0.21.0, the with_filter function corresponding to the filter search parameter can accept both array and string syntax:
[code]
Currently, only the string syntax is accepted in SDK Java:
[code]
[code]
`Getter`  and `Setter` for `filter` should accept both syntaxes or another param should be created.
tests must be added

[2021-09-16 08:08] asdshuaishuai opened #211 "java-sdk bug?"
![image](https://user-images.githubusercontent.com/72966668/133575119-ab5bf7c5-95bb-40a1-9f55-ed8c767d4c0e.png)

[2021-09-16 08:21] alallema commented on #211
Hi @asdshuaishuai,
Which version of MeiliSearch did you use? The sort field is available from v0.22.0 of Meilisearch.
Thanks

[2021-09-16 08:55] asdshuaishuai commented on #211
thinks ,I used v0.22
I talked about this question with your customer service, and I will set up sortableamtributes (), but still report an error.
![image](https://user-images.githubusercontent.com/72966668/133582280-f17b41e5-0023-4eb8-864d-8689bbcd50d1.png)
I don't know if I am using the problem, this is my code.
![image](https://user-images.githubusercontent.com/72966668/133582456-02bda170-bb35-4

[2021-09-16 09:21] alallema commented on #211
Hi @asdshuaishuai,
Thanks for your reply can you try:
`curl http://127.0.0.1:7700/version` and tell me the exact return you have?
Thanks

[2021-09-16 09:23] asdshuaishuai commented on #211
The server is used by V0.22. It is 0.21 for the test server. I am sorry, I am wrong.

[2021-09-16 09:23] #211 closed

[2021-09-20 11:15] alallema commented on #211
No problem 😉

[2021-09-28 09:40] curquiza commented on #128
I agree with this idea, however I would rather not a Wiki. After using wiki, we found out this is not as easy to maintain as a "classic" file (like a README) in our repository: it's impossible to create PRs.
So, ok for this idea, but in the README 🙂

[2021-09-28 09:43] curquiza commented on #20
Feel free to create multiple PRs: we don't need to have all the code samples in the same PR. We are aware this is a big job that can be done in different PRs.

[2021-10-01 07:49] vishnugt commented on #197
This looks interesting, can I give this a try?

From the documentation I can see that the filters can take arrays with nesting up to 2 levels, so ideally we would want to support all the cases right?
That means the following three cases:
- String (already supported)
- String[] (need to add support, mentioned in the issue description)
- String[][] (what about this case? I'm assuming we need to supp

[2021-10-01 09:12] alallema commented on #197
Hi @vishnugt!
Of course, you can. And Yes for the three cases, but you can also just add the `String[]` case in the first instance if you prefer.
Thank a lot

[2021-10-01 20:39] vishnugt commented on #197
@alallema I've raised a PR for this, please have a look at it, at your convenience!

[2021-10-02 07:00] mohitsaxenaknoldus commented on #130
Is this done? If not, can I get assigned?

[2021-10-02 07:11] mohitsaxenaknoldus commented on #67
@curquiza I have an idea. What if we create a Map of our items and then convert that Map to JSON. After that, we simply convert that JSON to string using `toString()` and pass it to our `addDocuments()` function.

[2021-10-02 09:24] alallema commented on #130
Hi @mohitsaxenaknoldus,
Thanks for asking, it's not done. I assign you to it.

[2021-10-02 10:47] ishika22 commented on #98
Hi @curquiza
I have some previous knowledge in JSON library and HTTP requests. I can read a little about client and create a section in the README file for the same. Can you please assign this issue?

[2021-10-02 11:12] alallema commented on #98
Hi @ishika22,
Thanks for asking, It's done.

[2021-10-02 14:04] curquiza commented on #67
Hello @mohitsaxenaknoldus!
Feel free to open a PR, we will see if we merge it or not :) Even if we don't merge it, we can consider it as a Hacktoberfest contribution since you are helping us with trying to find an alternative solution!

[2021-10-02 17:35] mohitsaxenaknoldus commented on #67
PR raised @curquiza : https://github.com/meilisearch/meilisearch-java/pull/223

[2021-10-03 11:15] vishnugt commented on #78
Since this issue was inactive for more than 10 months, I took the liberty to send a PR for this, hope it's okay.
@curquiza

[2021-10-03 11:53] #197 closed

[2021-10-03 12:46] #67 closed

[2021-10-03 12:54] #78 closed

[2021-10-04 12:59] trangntt-016 commented on #128
Hi @eskombro
Could you please assign this issue to me?

[2021-10-04 13:11] alallema commented on #128
Hi @trangntt-016,
Thanks for asking. It's done

[2021-10-06 09:29] #98 closed

[2021-10-06 13:17] curquiza opened #229 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 13:38] curquiza opened #230 "Method to get all the indexes should return a list of instance"
Currently, the `get_all_indexes` method returns a raw list of object, but not a list of `Index` instance. This is the only index-related method that does not return an `Index` instance.

An instance is more convenient to manipulate than a raw object. See this [example](https://github.com/meilisearch/meilisearch-python/issues/258#issuecomment-835866135).

TODO

- [ ] Change the return of the curren

[2021-10-06 13:43] curquiza commented on #229
Go @inomag! :)

[2021-10-06 13:54] curquiza opened #231 "Add a method to delete the index only if it already exists"
Trying to delete an index that does not exist on the MeiliSearch server will throw an error. To delete it without any error no matter what if it exists or not, we need a new method.

- [ ] Add a method `delete_index_if_exists`: it deletes the index but does not throw any error if the index does not exist.
- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-python/pull/268/files

⚠

[2021-10-06 13:54] shivamchourasia4 commented on #230
Hey there @curquiza , I would like to work on this.
You can assign it to me.

[2021-10-06 14:05] curquiza opened #232 "Add methods to automatically add/update documents in batches"
We need methods to add and update the documents of MeiliSearch in batch instead of letting the users call `addDocuments` in a loop.

- [ ] Add `addDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add `updateDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-pytho

[2021-10-06 17:23] shivamchourasia4 commented on #230
The get_all_indexes method is already implemented as desired.
I am just a beginner, so I won't be able to contribute.

[2021-10-06 17:58] MarimbaCode commented on #232
This is my first issue, may I try to do this?

[2021-10-06 18:09] bkaur-bkj commented on #231
@curquiza pls let me know about the status of this issue if any changes? if still pending can you pls assign this issue to me

[2021-10-06 18:16] shivani1120 commented on #230
I would like to work on this issue. Could u assign me?

[2021-10-06 18:55] alallema commented on #230
Yes of course. You are assigned! :)

[2021-10-10 18:41] curquiza opened #238 "Add method to get the raw index information"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2021-10-12 09:51] alallema opened #240 "Implement sub-settings methods"
Currently only `GetSettings`,  `UpdateSettings` and `ResetSettings` are implemented. These routes manage all the settings by calling this ["general" settings route](https://docs.meilisearch.com/reference/api/settings.html).

But currently, in this SDK, no method is implemented to call the sub-routes of each setting.
We need to add the `GetXXX`, `UpdateXXX` and `ResetXXX` where `XXX` are the follow

[2021-10-12 09:52] #238 closed, assigned to nobody

[2021-10-13 14:11] alallema opened #244 "Fill missing sample to display Java examples in MeiliSearch Documentation"
**Description**
The Java Code Samples for MeiliSearch documentation are almost complete.
There are only 3 samples missing:
[code]

For instructions and more information see: #20.

[2021-10-13 18:26] alallema commented on #20
Close in favor of #244

[2021-10-13 18:26] #20 closed

[2021-10-15 16:30] ezienecker commented on #244
I contributed it: https://github.com/meilisearch/meilisearch-java/pull/246

[2021-10-16 08:08] trangntt-016 commented on #128
@eskombro , @alallema
Should I insert my documentation to the README's Custom Search or create another .md and link it to the README's search section?

[2021-10-16 10:05] ezienecker commented on #130
I provide a pull request for this: https://github.com/meilisearch/meilisearch-java/pull/247

[2021-10-16 11:36] ezienecker commented on #231
I provide a PR: https://github.com/meilisearch/meilisearch-java/pull/248

[2021-10-16 15:04] curquiza commented on #230
Hello @ezienecker! you're completely right, my bad!
I close this issue then! :)

[2021-10-16 15:04] #230 closed

[2021-10-17 09:09] ezienecker opened #253 "Agree on a Json library"
I was a bit surprised when I saw that in the project on the one hand Gson and on the other hand org.json.Json is used. I think it would be better to agree on a framework. On the other hand I noticed that the [Settings](https://github.com/meilisearch/meilisearch-java/blob/4d2a6cb83dd58be16d4b29dd1250f990ba0d5fee/src/main/java/com/meilisearch/sdk/Settings.java#L31) contains logic where I think it wo

[2021-10-17 09:37] ezienecker commented on #240
I'm on this. I already provide a PR https://github.com/meilisearch/meilisearch-java/pull/254

[2021-10-17 09:44] alallema commented on #128
This problem was written before the sample code was available. Now that it is, this issue is no longer required and would require too much maintenance to keep. I'm really sorry but I'll have to close this issue to maybe rewrite it and close your PR too. Even if your PR is really great.

[2021-10-17 09:44] #128 closed

[2021-10-18 10:00] #231 closed, assigned to nobody

[2021-10-19 08:07] #244 closed, assigned to nobody

[2021-10-19 13:27] curquiza opened #256 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-19 16:07] curquiza opened #259 "Add a search example with `filter` in README"
⚠️ This issue is generated, please adapt the example to the repository language.

Related to: https://github.com/meilisearch/integration-guides/issues/136

In the README, we want to add the `Custom Search With Filters` sub section in the `Getting Started` section to make the users are aware of filtering.

This should
- be placed right after the `Custom Search` sub section
- contain the following c

[2021-10-20 08:29] curquiza opened #260 "Replace Docker examples with `curl` examples"
Discussion and motivations here: https://github.com/meilisearch/integration-guides/issues/145

---

Two examples to run MeiliSearch are present in our repository documentations:

- in the README.md, in the `Installation section`.
- in the CONTRIBUTING.md, in the `Development Workflow` section.

TODO: change both examples **in README.md and CONTRIBUTING.md** the same way as we have already done it

[2021-10-20 16:27] curquiza opened #263 "Update .code-samples.meilisearch.yaml"
Following https://github.com/meilisearch/documentation/pull/1214, we would like to apply some changes in the `.code-samples.meilisearch.yaml` file at the root of the repository

- Regarding `get_distinct_attribute_1`, `update_distinct_attribute_1` and `reset_distinct_attribute_1`: if present, the index name should be `shoes`
- Regarding `update_distinct_attribute_1`: the distinct attribute passed

[2021-10-22 17:24] #260 closed, assigned to nobody

[2021-10-27 07:49] alallema opened #269 "Update .code-samples.meilisearch.yaml with the new sub-settings methods"
**Description**
The following sub-settings methods have just been implemented:
- Synonyms
- Stop-words
- Searchable attributes
- Displayed attributes
- Attributes for faceting
- Distinct attribute
These should be added in the [.code-samples.meilisearch.yam](https://github.com/meilisearch/meilisearch-java/blob/main/.code-samples.meilisearch.yaml)l file at the root of the repository.

All the `reset

[2021-10-27 07:53] alallema opened #270 "Add test to send null to every sub-settings method"
**Description**
In Meilisearch, the user can pass the null value when updating the settings (using POST). This resets the setting to its default value. [cf documentation](https://docs.meilisearch.com/reference/api/settings.html#update-settings)

**Basic example**
All the update settings sub-methods should provide this possibility like:
[code]

**Todo**
We should add tests to check if it is possibl

[2021-10-28 14:45] #270 closed, assigned to nobody

[2021-11-02 20:06] irenejoeunpark commented on #269
Hi @alallema , I am trying to add some examples for the sub-setting methods.
I have some questions for naming of the examples, does it have to be under different example name, or incremental of the existing reset examples?
For example, if I want to add an example for reseting distinct attribute function using updateRankingRuleSettings(null), do I have to use "reset_distinct_attribute_2" or, "reset

[2021-11-03 09:04] curquiza commented on #269
Hello @irenejoeunpark
Thanks for your involvement in this project :)
The code-samples correspond to code snippets in the documentation. For example, this [example to get an index](https://docs.meilisearch.com/reference/api/indexes.html#example-2) corresponds to this code samples:
https://github.com/meilisearch/meilisearch-java/blob/6b4453b5ed6f1800d20b3e90d4df824432652bd0/.code-samples.meilisearch

[2021-11-15 18:11] #259 closed

[2021-11-22 13:54] alallema opened #286 "Test error on `UpdateStatus` class"
The `UpdateStatus` class (MeiliSearch response for an update status) was modified during the last release #282.
It seems that there are no tests to check for error cases in this class.

[2021-11-23 16:52] bidoubiwa opened #287 "Update .code-samples.meilisearch.yaml"
Related to https://github.com/meilisearch/integration-guides/issues/155

Following the documentation issue (https://github.com/meilisearch/documentation/issues/1290) and PR (https://github.com/meilisearch/documentation/pull/1214) an additional code-sample must be added in the .code-samples.meilisearch.yaml file at the root of the repository.

### Information:

Using the following information the c

[2021-11-26 15:30] mohitsaxenaknoldus commented on #286
Is this about writing test cases for that class?

[2021-11-29 09:16] #269 closed

[2021-11-29 09:26] alallema commented on #286
Hi @mohitsaxenaknoldus,
Thank you for your interest! That's exactly what it is.

[2021-11-29 09:42] #287 closed

[2021-11-29 10:10] mohitsaxenaknoldus commented on #286
Ok, I'll do it. You can assign me.

[2021-12-01 06:44] sauterle opened #292 "Class Error is not accessible"
**Description**

The UpdateStatus class (MeiliSearch response for an update status) was modified during the last release #282.
In the past, it was possible to check the errors properties: code, type and link. Now it is wrapped in an error class which is package-private.

**Expected behavior**

It is possible to access to the error class to check updates.

**Current behavior**

No access, because c

[2021-12-01 09:49] alallema commented on #292
Hi @sauterle,
Thanks for raising this issue. You're totally right I didn't think about it when I modify this class during the last release.

[2021-12-07 17:59] alallema commented on #286
Hi @mohitsaxenaknoldus,
We have chosen not to assign people to our issues anymore because sometimes people ask to be assigned and never come back, which discourages real volunteer contributors from opening a PR to fix this problem.
So I remove the assignment but do not hesitate to propose PR they review with pleasure 😊

[2021-12-14 17:02] chboing opened #298 "Trying to get stats when database size is too big ends in a Serialization error"
Hello,
I tried to get the stats of my meilisearch DB and it ended with a serialization error because database size is more than MAX_INT.
`com.meilisearch.sdk.api.instance.Stats.java `object has `private int databaseSize`
And if DB is larger than 2^31-1 = 2147483647 then it fails to serialize.
My DB is more than 7GB (7701901318) , so it fails.

[code]

[2021-12-14 17:15] alallema commented on #298
Hi @chboing,
Thank you for raising this issue! This is indeed a problem.
PR are welcome 🔥

[2021-12-15 16:20] diegonavarroq commented on #298
Hi, I'd like to work on this issue if no one else is working on it yet.

[2021-12-15 17:37] alallema commented on #298
Hi @diegonavarroq,
Sure! Thanks for your interest to MeiliSearch 😊

[2021-12-16 09:21] chboing commented on #298
Hey @diegonavarroq great news !
I'm wondering if just changing int to long would solve the pb maybe ?

[2021-12-16 09:58] alallema commented on #298
Hi @diegonavarroq,
Yes, I think so. It allows a database size of about 9*10^9 GB if I'm not wrong. I think it is enough.

[2021-12-16 17:48] diegonavarroq commented on #298
Yes, I thought about implementing that solution, I would only need to replicate the problem.

[2021-12-17 11:25] #298 closed

[2021-12-17 18:14] diegonavarroq commented on #232
Hi, I think this issue is interesting so I would like to try to solve it if anyone is not on it already.

[2021-12-18 12:48] alallema commented on #232
Thanks, @diegonavarroq!
No one is on it yet, however, a release with breaking changes will come in the next few weeks. Just so you know.

[2021-12-21 04:24] Artumira96 commented on #292
Hello! I've made a PR for this issue, I included some getters for the Error fields and changed the class to public:
![Screen Shot 2021-12-20 at 21 23 31](https://user-images.githubusercontent.com/80984726/146870743-4f62ce85-720c-44a3-8949-42e1030e2f3c.png)

Please let me know what you think, I'll be aware of this post :) Greetings!

[2021-12-23 08:57] #292 closed

[2021-12-29 09:04] #232 closed

[2021-12-29 18:50] diegonavarroq commented on #256
Hi @alallema, I would like to work on this issue but, I was wondering if it would be solved or not in the next release you mentioned before, please let me know to start working on it.

[2021-12-30 12:35] alallema commented on #256
Hi @diegonavarroq,
The next release brings a lot of improvement to other parts of the API. The management of the keys and a modification of updates in tasks so no worries on the part who add documents.
Thanks a lot for your interest ❤️!

[2022-01-17 15:14] alallema opened #315 "Cleaning and removing duplicate code"
The Java client has been completely rewritten by a contributor to use an API based on ServiceTemplate #154.

This refactoring was never implemented because it would have brought too many constraints to the use of this SDK. However, a large part of the code base of this refactor is still present in the SDK in the `src/main/java/com/meilisearch/sdk/api` folder.

The code has been kept since for diff

[2022-01-17 17:54] alallema opened #316 "Timeout Exception"
Currently, the Java SDK doesn't use the [`TimeoutException`](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/TimeoutException.html).

On most of the SDK there is three main Exception:
- ApiError
- CommunicationError
- TimeoutError

It would be nice to implement a timeout catch everywhere where it would be necessary.

You can check as an example the Python SDK where the exception is

[2022-01-19 15:47] alallema opened #318 "Workaround for `PATCH` method should be fix"
The `HTTP` `PATCH` method has just been introduced in this SDK following the release of `v0.25.0`. This method is used in the new `updateKey()` method.

**Problem:**
The class [`HttpURLConnection`](https://docs.oracle.com/javase/8/docs/api/java/net/HttpURLConnection.html) doesn't accept the `PATCH` method and the error return is:
[code]
There is a Won't Fix bug in OpenJDK for this [here](https://b

[2022-01-26 17:25] alallema opened #324 "Add testing library"
**Description**
Following this [discussion](https://github.com/meilisearch/meilisearch-java/pull/296#discussion_r792040528), it appears that it could be a good point to add a testing library to this repository

**Suggestion**
- `Hamcrest`(https://code.google.com/archive/p/hamcrest/wikis/Tutorial.wiki)
- `AssertJ`

This list is not exhaustif.

[2022-01-29 15:29] GyrosOfWar commented on #318
If you don't need Java 8 support, you could consider switching to the built-in Java HTTP client instead. (exists since Java 11)

[2022-01-31 10:08] alallema commented on #318
Hi @GyrosOfWar,
Thanks for your reply. Indeed I saw that it was supported by Java 11 but I am afraid that there are still too many users who are still on Java 8 to abandon the support.

[2022-02-03 12:41] alallema opened #331 "Adding `details` field to `Task` class"
The Java class `Task` which retrieves the response from `Meilisearch` for a task contains these fields:
[code]
But the actual response send by `Meilisearch` is like:
[code]
It should be more accurate to add a `details` field to the `Task` class to be able to have the entire answer from the `Meilisearch` API.

[2022-02-03 16:14] alallema opened #333 "Workaround for `PATCH` method won't work on test in `Github-Action`"
The `HTTP` `PATCH` method has just been introduced in this in `Meilisearch` following the release of `v0.25.0`. This method is has been added in the new `updateKey()` method. #317

**Problem:**
The class [`HttpURLConnection`](https://docs.oracle.com/javase/8/docs/api/java/net/HttpURLConnection.html) doesn't accept the `PATCH` method and the error return is:
[code]
There is a Won't Fix bug in OpenJ

[2022-02-03 16:18] #318 closed

[2022-02-03 16:18] #333 closed

[2022-02-03 16:27] alallema opened #334 "Add `PATCH` http method and `updateKey()` method"
The `HTTP` `PATCH` method has been introduced in `Meilisearch` following the release of `v0.25.0`. This method is has been used by the new `updateKey()` method.

**Problem:**
The class [`HttpURLConnection`](https://docs.oracle.com/javase/8/docs/api/java/net/HttpURLConnection.html) doesn't accept the `PATCH` method and the error return is:
[code]
There is a Won't Fix bug in OpenJDK for this [here](

[2022-02-04 06:47] kuruvasatya commented on #331
@alallema  I would love to work on this, please assign this to me

[2022-02-04 13:46] alallema commented on #331
Hi @kuruvasatya,
We have chosen not to assign people to our issues anymore because sometimes people ask to be assigned and never come back, which discourages real volunteer contributors from opening a PR to fix this problem.
But I see you already propose an issue, I will review it 😊
Thanks for contributing to Meilisearch ❤️

[2022-02-07 11:14] bidoubiwa commented on #331
Hello! The type `details` is not completed. See [example](https://github.com/meilisearch/meilisearch-swift/blob/91825b83431e909cca6a3c0445c15148050846b6/Sources/MeiliSearch/Model/Task.swift#L37) in swift

[2022-02-09 13:50] #331 closed

[2022-03-13 02:25] trangntt-016 commented on #316
HI @alallema I'm wondering if this issue is still open?

[2022-03-14 08:23] alallema commented on #316
HI @trangntt-016,
Thank you for your interest, yes this issue is still open!

[2022-03-15 04:51] trangntt-016 opened #351 "Add documentation to set up local environment for testing in Contributing.md"
Currently, there's no reference/documentation for setting up a local environment and exporting the masterKey in `Contributing.md`

Followed by https://docs.meilisearch.com/learn/getting_started/quick_start.html#step-1-setup-and-installation , there should be detailed guidelines for setting up local environment with:
- Docker
- cURL
- Homebrew
- Windows

[2022-03-15 09:34] curquiza commented on #334
@gmourier

[2022-03-15 10:39] alallema commented on #351
Hi @trangntt-016,
Thank you for raising this issue. In order to keep the `Contributing` and `README` simple, we just had this command to set up the environment in the [`Development Workflow`](https://github.com/meilisearch/meilisearch-java/blob/main/CONTRIBUTING.md#development-workflow)
[code]
We don't want to overwhelm the contributors by adding too much information. And these are, as you have sh

[2022-03-16 23:56] #351 closed

[2022-03-21 15:38] brunoocasali opened #354 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-03-29 13:09] Andoctorey opened #358 "MeiliSearchApiException throw due to `Json deserialize error`"
Filter doesn't work for me same as other attributes that requires array. Code example:
[code]
This returns:

    1:28 [Ljava.lang.String;@8f8841a', code='invalid_filter', type='invalid_request', link='https://docs.meilisearch.com/errors#invalid_filter'}}
        at com.meilisearch.sdk.MeiliSearchHttpRequest.post(MeiliSearchHttpRequest.java:90)
        at com.meilisearch.sdk.Search.rawSearch(Search

[2022-03-29 14:36] alallema commented on #358
Hi @Andoctorey,
You can write your request this way:
[code]
It should work.

[2022-03-29 14:51] Andoctorey commented on #358
@alallema Do you mean don't use Kotlin and use Java?

[2022-03-30 02:08] Andoctorey commented on #358
Just tried pure Java calls - have same error.

[2022-03-30 12:30] TomBastable commented on #358
I'm having almost exactly the same issue here. I've spoken to Amelie via the Meili Slack - we're going to try upgrading the server to 0.26 and the library to 0.7.1 to see if that helps at all. Neither Kotlin or Java yields different results.

[2022-04-07 16:37] #354 closed

[2022-04-11 19:47] brunoocasali opened #367 "Add support to the typo tolerance customization"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/190
- specification: https://github.com/meilisearch/specifications/pull/117

----

[2022-05-05 12:06] alallema opened #379 "Change getter and setter in `Class` for `@Getter` and `@Setter` from `lombok`"
In some `Class` getter functions are written. It could be better to replace all of them by auto-generated getter/setter from `lombok`.
See example of [`Class` without](https://github.com/meilisearch/meilisearch-java/blob/main/src/main/java/com/meilisearch/sdk/Details.java)
And [`Class` with](https://github.com/meilisearch/meilisearch-java/blob/main/src/main/java/com/meilisearch/sdk/Dump.java)

[2022-05-10 00:26] adolfo-trocoli commented on #379
Have you thougth about adding @Data to the hole class? According to the specification, it bundles the features of ToString, EqualsAndHashCode, Getter, Setter and RequiredArgsConstructor. You can also tune it if you don´t want some of these. Let me know if I can help with this or your original proposal of refactoring using @Getter.

[2022-05-11 14:45] ghousek1 commented on #379
Added class level and field level(depending upon the requirement) @Getter and @Setter for all classes in module.
 pls review the PR https://github.com/meilisearch/meilisearch-java/pull/385

[2022-05-12 08:36] 1k3w opened #386 "om.google.gson.JsonIOException: Failed making field 'java.lang.ThreadLocal#threadLocalHashCode' accessible; either change its visibility or write a custom TypeAdapter for its declaring type"
**Description**
This error occurs when i try to get search results from an index.

**Expected behavior**
Meilisearch to return the required documents

**Current behavior**
on line:       `SearchResult searchResult = mc.getIndex("sites").search(new SearchRequest(body.getString("search"), 0, results));`
(everything is null checked);
This error pops up:
[code]

**Environment (please complete the foll

[2022-05-12 18:12] 1k3w commented on #386
damn i'm an idiot this is an issue ion my end, not with you. Im really sorry 😬

[2022-05-12 18:12] #386 closed

[2022-05-13 10:06] alallema commented on #386
Hi @1k3w,
No worries 😊 thanks for closing it.

[2022-05-16 11:50] #379 closed

[2022-05-16 15:23] brunoocasali commented on #379
@adolfo-trocoli do you know if we can reduce more code with this change you have in mind?

[2022-05-18 09:27] alallema opened #389 "Throw a specific Exception instead of `Exception` in handlers"
Following this discussion, it could be better to throw specifics Exceptions for all the handlers:

I mean, is good to only `throw` errors that we can control, `Exception` is Ok, but in the end is easier for the consumer just to expect a MeiliSearchApiException instead of the `Exception` because they will have more control over the exception catch flow like this:

[code]

Now if we just throw an Ex

[2022-05-23 07:48] Anbool opened #390 "The total number of paginated results is wrong"
**Description**
The total number of paginated results is wrong

**Expected behavior**
The total number of correct query results returned.

**Current behavior**
Hello, it took me a few days to replace our ES with meilisearch. At present, everything is well tested, but we use the JAVA SDK provided by meilisearch. By querying the results returned by meilisearch, we found that there is a problem with

[2022-05-23 07:55] Anbool opened #391 "The results of the query through the JAVA SDK are inconsistent with the results of the meilisearch api query."
**Description**
The results of the query through the JAVA SDK are inconsistent with the results of the meilisearch api query.

**Expected behavior**
The results of the query through the JAVA SDK are consistent with the results of the meilisearch api query.

**Current behavior**
I query keyword: X through JAVA SDK, which is inconsistent with the API query keyword: X provided by meilisearch.
The res

[2022-05-23 10:07] alallema commented on #391
Hi @Anbool,
Thanks for raising this issue, I try the results of the Java SDK and compare them to the results from the `Meilisearch` API and I get the same results. Could you give me more details on what doesn't fit the type of research you are doing and maybe also a small data set to test?

[2022-05-23 10:39] Anbool commented on #391
@alallema
[code]
Note line 2, which is the result I want to query, the meilisearch api puts the result from line 2 first, no problem. But the JAVA SDK only returns the results of lines 7-12, and only 6 results are returned.

[2022-05-23 10:44] Anbool commented on #391
I didn't do any special configuration, everything is configured according to the method recommended by meilisearch, but I think the only possibility of this problem seems to be related to this issue: https://github.com/meilisearch/meilisearch-java/issues/390
It seems that this result appears because of the paging problem. I have adjusted the paging, because the offset of the total number of result

[2022-05-23 10:58] oluademola commented on #390
Hello @Anbool 👋

I am glad you made the switch to Meilisearch 🎉

It's not entirely clear to me what you are trying to do and how you are doing the pagination but my understanding is that the Java SDK doesn't handle pagination. Could you please provide additional information on what you are trying to do?

Many thanks 🙂

[2022-05-23 11:06] alallema commented on #391
There is no real pagination on the search results. However, you can indeed play with the parameters [offset](https://docs.meilisearch.com/reference/api/search.html#offset) and [limit](https://docs.meilisearch.com/reference/api/search.html#limit).
I did some tests to see if the Java SDK returns what Meilisearch returns. For example, if I used your document and I request "X" as a query I will receiv

[2022-05-23 13:24] Anbool commented on #391
Can you give me a best practice for JAVA? I'm not sure why I'm getting inconsistent results. I would like to know if meilisearch does not provide pagination, what should the business do? Return all query results every time?

[2022-05-23 13:25] Anbool commented on #390
@oluademola If meilisearch doesn't handle pagination, then what should I do? If every query returns all query results, that seems unlikely, right?

[2022-05-23 13:27] Anbool commented on #390
I now use two parameters offset and limit for paging, offset is used to calculate the offset, limit is a fixed value: 20

[2022-05-23 13:33] Anbool commented on #390
Our app and website use autoload to load the next page, as described in this document: https://github.com/meilisearch/documentation/issues/561
But we are using a similar loading method with DuckDuckGo, DuckDuckGo needs to click to load the next page, we are loading the next page automatically.

[2022-05-23 14:01] Anbool commented on #391
It doesn't seem that hard to do this, but I would like to know that when our users query keywords, our search page will return the total number of results for the query to the keyword, due to the JAVA SDK offset in the last page of query results It will increase by 20 uniformly. How can I get the value of the total number of query results correctly?

[2022-05-23 14:09] Anbool commented on #391
This result is correct

[2022-05-23 14:09] #390 closed

[2022-05-23 14:59] alallema commented on #391
Great! I closed this issue then.

[2022-05-23 14:59] #391 closed

[2022-05-24 16:32] bidoubiwa opened #392 "Add possibility to provide a generic to http methods"
**Description**
Every method that makes an HTTP request also decode the JSON from that request inside its method.

Example:

https://github.com/meilisearch/meilisearch-java/blob/04244faad4b653fe4cdc5eff871463ce6e8b83bc/src/main/java/com/meilisearch/sdk/TasksHandler.java#L48-L51

An alternative to that would be to use `this.gson.fromJson` inside the HTTP methods and provide the type decoding type w

[2022-05-24 16:39] bidoubiwa opened #393 "Find a better way to construct the typoTolerance settings"
In this PR #371 we introduce the `TypoTolerance` class. Unfortunately as per [this comment section](https://github.com/meilisearch/meilisearch-java/pull/371/files#r864855579) we did not found a better way than the following to encode in JSON.

[code]

Doing `gson.toJson(this);` resolves in the following decoding:
[code]
which is not what we are looking for.

Is there a better way to encode in JSON

[2022-05-24 16:45] bidoubiwa opened #394 "Make it possible to reset some specific settings via the updateSettings route"
**Description**
For example, it is possible to reset the synonyms to it' default value by sending

[code]

As the json body of the `updateSettings` method.

Unfortunately, looking at this code:

https://github.com/meilisearch/meilisearch-java/blob/04244faad4b653fe4cdc5eff871463ce6e8b83bc/src/main/java/com/meilisearch/sdk/Settings.java#L33-L60

It appears that if the user sets `synonyms` to null it

[2022-05-25 04:55] cuongdxk57 commented on #358
I get the same error message when using Android Studio, but it run correctly on Eclipse
MeiliSearchApiException{error=APIError{message='Json deserialize error: invalid type: string "[Ljava.lang.String;@2eb4bb4", expected a sequence at line 1 column 87', code='bad_request', type='invalid_request', link='https://docs.meilisearch.com/errors#bad_request'}

[2022-05-25 09:24] TomBastable commented on #358
We removed this from our stack for now and just use Ktor to query the server now.

[2022-05-30 04:11] Generalize opened #395 "Does meilisearch support concurrently upload documents"

[2022-05-30 10:39] Andoctorey commented on #358
@TomBastable Is this supported in 0.7.2?

[2022-06-01 06:24] prabhjot018 opened #398 "Fix Readme of Getting started section"
In the example of getting started section, index is updated by adding following objects
new JSONObject().put("id", "6").put("title", "Philadelphia").put("genre",new JSONArray("[\"Drama\"]"));

But later when index is updated to filter, following example is provided:-
index.updateFilterableAttributesSettings(new String[]
                {
                        "id",
                        "genre

[2022-06-01 14:25] alallema commented on #398
Hi @prabhjot018,
Good catch thanks for raising this issue!

[2022-07-13 15:46] tropikoder opened #410 "How to actually use an okhttp client"
what i need is to build a com.meilisearch.sdk.Client that uses OkHttp and jackson whenever it makes requests

I read the example on OkHttp in the documentation (and in the test source), but don't understand where to use the resulting `serviceTemplate`.

Thank you

[code]

[2022-07-16 18:12] brunoocasali opened #411 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:17] brunoocasali opened #412 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-19 09:24] dbacinski opened #414 "NPE when updating primaryKey after meili update to 0.28.0 (breaking changes)"
**Description**

After update of meilisearch from 0.27.2 to 0.28.0 updating of index primary key has started failing with NPE

`meiliClient.updateIndex("indexName", "productId")`

[code]

It seems like version 0.28.0 is not returning any response but the client library is expecting to get one.

It works fine after reverting meili to 0.27.2

**Environment (please complete the following information)

[2022-07-19 09:35] dbacinski commented on #414
https://github.com/meilisearch/meilisearch/releases/tag/v0.28.0 I see there are breaking changes in 0.28.0:

`The endpoint to update an index is now PATCH /indexes/{indexUid} instead of PUT`

[2022-07-19 10:48] alallema commented on #414
Hi @dbacinski,
Indeed the v0.28.0 of Meilisearch has been released last week but the SDK is not yet updated with this. The v0.7.2 of this SDK is only compatible with the v0.27, I let you check the [changelog](https://github.com/meilisearch/meilisearch-java/releases) about it.
I will try to update it as soon as possible but we have to make a refactor of this SDK so it could take some time. Sorry fo

[2022-08-02 11:29] alallema opened #419 "Switch to a fixed HTTP client library `OkHttp`"
**Description**
Following this issue #334 and the fact that the `PATCH` method is now needed in multiple methods since the [`v0.28.0` of `Meilisearch`](https://github.com/meilisearch/integration-guides/issues/205).

**Expectations**
The need to allow the `PATCH` method and to keep the `Java 8` compatibility pushed us to choose as a solution to use a single `HTTP` library which in addition to meeti

[2022-08-02 11:29] alallema opened #420 "Revision Java SDK"
**Description**
Following a refactor attempt made some time ago the Java SDK has kept duplicate code and builders that are not fully functional. This makes the code quite complicated to maintain and difficult to access for contributions and reviews.
See more details #315

**What we planned to do**
- Cleaning
    - #315
- Rewriting of the Error Handler
    - #316
    - #389
- Rewrite HTTP client

[2022-08-29 19:35] HorizonCode commented on #386
i also currently have this issue, what was causing your issue?

[2022-08-31 09:39] rauldeheer commented on #414
Any news on this issue @alallema ?

[2022-08-31 17:01] brunoocasali commented on #414
Hi @rauldeheer, @alallema is currently on vacation :)

But we are still working on that refactor; unfortunately, we can't give you an estimation of when we should finish it.

Thanks for using Meilisearch, and sorry for the inconvenience!

[2022-09-01 06:25] rauldeheer commented on #414
Thank you for replying. I'll just wait for a new release, thanks. @brunoocasali

[2022-09-13 09:03] #253 closed

[2022-09-14 08:40] #315 closed

[2022-09-15 03:49] mayangzz commented on #358
hello, I encounter the similar issue using Kotlin. Is there any development ?

[2022-09-15 07:46] alallema commented on #358
Hi @mayangzz,
Not yet, but the SDK is being rewritten I hope it will be available soon!

[2022-09-29 11:32] shofstee commented on #386
I had the same problem. Had the wrong JDK active. Switching from java 17 to java 11 fixed it.

[2022-10-02 06:49] kuruvasatya commented on #286
Hi @alallema

I wonder if this is a valid issue, as i dont see any UpdateStatus class in the source code, correct me if i am wrong

Thanks

[2022-10-03 08:33] alallema commented on #286
Hi @kuruvasatya,

Thank you for wanting to contribute to this repository :heart:. Unfortunately, this repository is not open to contributions from Hacktoberfest. Indeed it is being reworked and will not participate this year also we prefer to wait until the end of the refactor to accept new PR :blush.

[2022-10-13 08:08] russleung44 opened #454 "Search Json deserialize error"
**Description**
Use demo data to seach throw MeiliSearchApiException
{error=APIError{message='Json deserialize error: invalid type: string "[Ljava.lang.String;@351d00c0", expected a sequence at line 1 column 65
', code='bad_request', type='invalid_request', link='https://docs.meilisearch.com/errors#bad_request'}}

**Screenshots or Logs**
![image](https://user-images.githubusercontent.com/56534185/

[2022-10-13 10:24] alallema commented on #454
Hi @russleung44,
This is normal, unfortunately, the java SDK is only compatible up to the version `v0.27.0` of Meilisearch. You can check it on the [release Changelog](https://github.com/meilisearch/meilisearch-java/releases).
A refactor is in progress, I hope it will be available soon.

[2022-10-13 10:42] #454 closed

[2022-10-13 11:16] alallema opened #455 "Make the SearchRequest class a builder"
**Description**
The class `SearchRequest` has many attributes and it's difficult to create initializers that will suit every possible case. It will be better to use [builder](https://projectlombok.org/features/Builder) instead.

**Basic example**
[code]

**Notes**
This issue should be implemented before the resolution of #420

[2022-10-13 11:32] alallema commented on #316
Closed #438

[2022-10-13 11:32] #316 closed

[2022-10-13 11:39] alallema commented on #389
Closed by #438

[2022-10-13 11:39] #389 closed

[2022-10-18 20:48] brunoocasali opened #460 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-24 13:06] #419 closed

[2022-10-26 23:13] alallema commented on #392
Closed by #466

[2022-10-26 23:13] #392 closed

[2022-10-27 14:47] alallema opened #478 "Code sample revision after refactor"
**Description**
After the revision of this SDK, the `code-samples.meilisearch.yaml` will need a revision of each method to ensure that the method still exists and still work as expected in the sample.

[2022-10-27 15:58] alallema opened #479 "Type safety Warning on KeysHandler"
**Description**
Type safety is not applied when decoding the `Result` type throught the JSON handler in the method `getKeys()` and `getTasks()`
[code]
[code]

This warning is thrown:
`Type safety: The expression of type Result needs unchecked conversion to conform to Result<Key>Java(16777748)`

**Notes**
This issue should be implemented before the resolution of #420

[2022-10-29 21:36] cursor99 opened #480 "The field "uid" in Task class should be "taskUid""

[2022-11-09 12:56] #420 closed

[2022-11-09 12:57] #334 closed

[2022-11-09 12:57] alallema commented on #410
Close due to merge of #425

[2022-11-09 12:57] #410 closed

[2022-11-09 14:40] alallema opened #487 "Improve Json Handler by removing the specific serialization of `Key.class`"
**Description**:

Currently when serializing data via the `encode` method of the JSON handler the class `Key` class is treated separately because of the date format.
We should find a solution so that all the dates are well managed in the JSON handler

**Condition to remove**:
[code]

[2022-11-10 12:26] alallema opened #491 "Add methods for the setting the Sortable Attribute"
Add method related to settings `sortableAttributes`:
- [x] `getSortableAttributesSettings`
- [x] `updateSortableAttributesSettings`
- [x] `resetSortableAttributesSettings`
- [x] Add tests
- [x] Add sample in the code-sample file

**EDIT:**
The code sample should be modified in the `.code-samples.meilisearch.yaml` like:
line 619:
[code]
line 663:
[code]
line 641:
[code]

[2022-11-20 14:08] pipicoming opened #494 "Json deserialize error: unknown field `matches`"
when i search with meilisearch-java  sdk, i recieved errors as following:
com.meilisearch.sdk.exceptions.MeilisearchApiException: Json deserialize error: unknown field `matches`, expected one of `q`, `offset`, `limit`, `attributesToRetrieve`, `attributesToCrop`, `cropLength`, `attributesToHighlight`, `showMatchesPosition`, `filter`, `sort`, `facets`, `highlightPreTag`, `highlightPostTag`, `cropMar